
    
{% extends 'store/Main.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
<div class="login_page">

    <div class="container">
        
        <h2>Welcome To Your Favorite Store</h2>
        <h4>Login to your account</h4>
        <form method="POST" action ="">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="submit">
                <p class="forgot_p">Forgot Password?</p>
                
                <input type='submit' value="Login">
                <p class="register">Don't have an account?<a class="" href="{% url 'store' %}"> Register</a></p>
            </div>
        </form>
        
    </div>
</div>
{% endblock %}